<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <title>HMML</title>
</head>
<body>
   <h1>Hypertext My Markup Language Pt1</h1>
   <h2>Here I will attempt to learn the very basics</h2>
   <h2>Including how to center a div, which you can see below:</h2>
   <div class="icancenteradiv">
    <p> This is a div, I am already better than the average web dev intern </p>
   </div>
</body>
</html>